* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7e9; /* Fondo verde claro */
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png'); /* Textura de madera natural */
  }
  
  .eco-container {
    text-align: center;
    background-color: white;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 128, 0, 0.2); /* Sombra con un tono verde suave */
    max-width: 600px;
    margin: 20px;
    border: 3px solid #83c582; /* Borde verde vivo */
  }
  
  h1 {
    font-size: 2.5rem;
    color: #2b5d34; /* Verde oscuro para un título eco-friendly */
    margin-bottom: 1.5rem;
  }
  
  p {
    font-size: 1.1rem;
    color: #4d7f59; /* Verde más suave para el texto */
    margin-bottom: 1.5rem;
  }
  
  .eco-icons a {
    color: #4d7f59;
    font-size: 1.5rem;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .eco-icons a:hover {
    color: #2b5d34;
  }
  
  #countdown {
    margin-top: 25px;
    font-size: 1.5rem;
    color: #e96b40; /* Naranja tierra para resaltar la cuenta regresiva */
  }
  
  .eco-container:before {
    content: '';
    position: absolute;
    width: 300px; /* Increased width */
    height: 300px; /* Increased height */
    top: -30px; /* Adjusted top position */
    left: 50%;
    transform: translateX(-50%);
    background: url('img/logo.jpeg') no-repeat center center;
    background-size: contain;
    opacity: 0.15; /* Marca de agua en la parte superior */
  }
  